<div class="container">
  <div class="row">
    <div class="col-md-9">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Produto</th>
            <th>Preço unitário</th>
            <th>Quantidade</th>
            <th>Valor Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of produtos">
            <td><img src="../../../../../arquivos/{{p.nomeArquivo}}" style="max-height: 80px; max-width: 80px;"/></td>
            <td style="width: 1000px">{{p.nome}}</td>
            <td style="width: 500px;">R$ {{p.precoOriginal | number: '2.0-2'}}</td>
            <td>
              <input type="number" class="form-control" value="1" style="width: 60px"
                     (change)="atualizarPreco(p, $event.target.value)"
                     [(ngModel)]="p.quantidade"
                     placeholder="1"/>
            </td>
            <td style="width: 500px;">R$ {{p.preco | number: '2.0-2'}}</td>
            <td><button class="btn btn-secondary btn-sm" (click)="remover(p)">Remover</button></td>
          </tr>

          <tr *ngIf="!mensagem()" style="text-align: center; font-style: italic; border: 200px; padding: 200px;">
            Nenhum produto foi adicionado ao carrinho. Retorne à página principal e adicione novos itens.
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="card">
          <div class="card-header">Resumo</div>
          <div class="card-body">
            Valor total da compra:
            <h3 class="mb-4 mt-4">R$ {{total | number: '1.0-2'}}</h3>
            <button class="btn btn-primary mb-2" style="width: 100%;" (click)="efetivarCompra()">Finalizar compra</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
